@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i');
* {
    font-family: "Merriweather", Georgia, 'Times New Roman', Times, serif
}

.block {
    min-width: 100%;
    border: none;
    background-color: #eee;
    padding: 10px;
}

.highlight {
    background-color: red;
}

.alert-danger {
    margin-top: 30px;
}

.col-header {
    padding: 50px;
    text-align: center;
}